{% extends "base.html" %}


{% block head %}
    <div class="max-w-xl mx-auto">
        <a href="{% url 'calendar' %}" class="px-4 py-2 rounded-lg text-white bg-gradient-to-r from-blue-400 to-blue-500">Back</a>
    </div>
{% endblock %}


{% block content %}
    <div class="max-w-xl mx-auto mt-10 p-6 bg-white rounded-xl shadow-md">
  <h2 class="text-2xl font-bold mb-4">Add Workout Plan</h2>
  <form method="post" class='form-control'>
    {% csrf_token %}
    <div class="space-y-4">
      <div>
        <label class="block font-semibold">Workout</label>
        {{ form.workout }}
      </div>
      <div>
        <label class="block font-semibold">Start Time</label>
        {{ form.start_time }}
      </div>
      <div>
        <label class="block font-semibold">End Time</label>
        {{ form.end_time }}
      </div>
    </div>
    {% if form.errors %}
      <div class="mt-4 text-red-500">
        {% for field in form %}
          {% for error in field.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
    <button type="submit" class="mt-6 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
      Save Plan
    </button>
  </form>
</div>
{% endblock %}


{% block script %}

{% endblock %}
