{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Title
      {% endblock %}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .form-control input {
        margin-top: 0.25rem; 
        border-width: 2px;
        border-color: #e5e7eb;
        border-radius: 0.75rem;
        width: 100%;
        padding: 0.75rem 1rem;
        outline: none;
        background-color: rgba(255, 255, 255, 0.7);
        transition: all 0.2s ease-in-out;
      }
    </style>
  </head>

  <body>
    {% block nav %}
      {% include 'nav.html' %}
    {% endblock %}

    <section class="p-6 max-w-8xl mx-auto">
      <article aria-label="Head Content">
        {% block head %}
        {% endblock %}
      </article>

      <article aria-label="Body Content">
        {% block content %}
          Content
        {% endblock %}
      </article>
    </section>
    
    {% block script %}
      <script src="/"></script>
    {% endblock %}
  </body>

</html>
